.cover-page {
  background-color: var(--light-yellow);
  height: 100vh;
  max-width: 100vw;
  padding-bottom: 3fr;
}

.cover-title {
  font-family: var(--cookie-text-title);
  padding-left: 10px;
  font-size: 4.5rem;
  width: 80vw;
  font-weight: 400;
  text-decoration: none;
}

.park-title {
  font-family: var(--cookie-text-title);
  padding-left: 10px;
  font-size: 3rem;
  font-weight: 400;
  text-decoration: none;
}

.app-title-wrapper {
  display: flex;
  height: 60%;
}

.app-title {
  font-family: var(--cookie-text-title);
  font-size: 18vw;
  width: 100%;
  font-weight: 400;
  text-decoration: none;
}

.cover-box-light-blue {
  height: 100px;
  max-width: 100vw;
  background-color: var(--light-blue);
  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 0,
    100% 70%,
    65% 78%,
    30% 88%,
    0 100%,
    0 0
  );
  padding: 20px;
}

.login-page-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  justify-content: space-between;
  align-items: center;
}

.login-page-dog {
  width: 100vw;
  font-size: 10em;
}

.login-form {
  margin: 1em;
  width: 50vw;
  align-self: center;
  display: flex;
  flex-direction: column;
}

.login-buttons-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 1em;
}

.register-red-warning {
  border: var(--red) 2px solid;
}

.register-message-warning {
  font-size: 1em;
  text-align: center;
  margin-top: 1em;
}

.swing {
  animation: swing ease-in-out 1s infinite alternate;
  transform-origin: center -20px;
}
.swing:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid #999;
  top: -10px;
  left: 50%;
  z-index: 0;
  border-bottom: none;
  border-right: none;
  transform: rotate(45deg);
}

@keyframes swing {
  0% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(-3deg);
  }
}
