.grid-layout-app {
  position: relative;

  display: grid;
  grid-template-rows: [header] 70px [main] auto [footer] 80px;
}

.header {
  position: fixed;

  padding-left: 10px;
  color: var(--deep-blue);
  height: 100px;
  width: 100vw;
  background-color: var(--sea-blue);
  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 0,
    100% 70%,
    65% 78%,
    30% 88%,
    0 100%,
    0 0
  );
  display: flex;
  grid-row: header;
  z-index: 100;
}

.main {
  grid-row: main;
}

.footer {
  background-color: var(--grey-shade);
  grid-row: footer;
  position: fixed;
  bottom: 0;
  width: 100vw;
}
