.grid-layout-app {
  display: grid;
  grid-template-columns: [width] 100vw;
  grid-template-rows: [main] auto [footer] 80px;
}

.main {
  grid-column: width;
  grid-row: main;
}

.footer {
  background-color: rgb(105, 105, 126);
  grid-column: width;
  grid-row: footer;
}
