.grid-layout-app {
  position: relative;

  display: grid;
  grid-template-rows: [header] 70px [main] auto [footer] 80px;
}

.header {
  position: fixed;

  padding-left: 10px;
  color: var(--deep-blue);
  height: 100px;
  width: 100vw;
  background-color: var(--sea-blue);
  clip-path: polygon(0 0, 100% 0, 100% 69%, 0 100%);
  display: flex;
  grid-row: header;
  z-index: 100;
  position: fixed;
  width: 100vw;
}

.main {
  grid-row: main;
  height: 90vh;
}

.footer {
  background-color: var(--grey-shade);
  grid-row: footer;
  position: fixed;
  bottom: 0;
  z-index: 100;
  width: 100vw;
}
