*,
::before,
::after {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

:root {
  --white: #fff;
  --deep-blue: #304057;
  --light-blue: #89c5cc;
  --light-yellow: #f7de75;
  --gold: #e7d513;
  --sea-blue: #2eaed1;
  --grey-shade: rgb(105, 105, 126);
  --dark-grey-shade: rgb(84, 84, 100);
}
