.search-header-wrapper {
  position: relative;
}

.search-page {
  background-color: var(--light-blue);
  display: flex;
  flex-direction: column;
}

.search-form {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
.search-page-bar,
.search-go-button {
  margin: 0 5px;
  border-radius: 5px;
  box-shadow: var(--hard-shadow);
}
