.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80px;
  background-color: var(--sea-blue);
  width: 100vw;
}

.nav-button {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  border: none;
  box-shadow: var(--hard-shadow);
}
.nav-icons {
  font-size: 40px;
  text-decoration: none;
  color: var(--deep-blue);
}

.button-animation {
  animation: inflate 0.3s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes inflate {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-10%);
  }
}

@media only screen and (min-width: 760px) {
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    background-color: var(--sea-blue);
    width: 100vw;
  }
}

@media only screen and (min-width: 1020px) {
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    background-color: var(--sea-blue);
    width: 100vw;
  }
}
