.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80px;
  background-color: var(--sea-blue);
  width: 100vw;
}

.nav-button {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  border: none;
  box-shadow: var(--hard-shadow);
}
.nav-icons {
  font-size: 40px;
  text-decoration: none;
  color: var(--deep-blue);
}

.button-animation {
  animation: inflate 0.3s ease-in-out;
  animation-fill-mode: forwards;
}

.null-animation {
  animation: deflate 0.3s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes inflate {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
    transform: translateY(-5%);
    background-color: var(--light-blue);
  }
}

@keyframes deflate {
  0% {
    transform: scale(1);
    transform: translateY(-5%);
    background-color: var(--light-blue);
  }
  100% {
    transform: scale(1);
    transform: translateY(0%);
  }
}
