.single-dog-main-wrapper {
  background-color: var(--light-blue);
  height: 80vh;
  overflow-y: hidden;
}

.single-dog-page {
  color: var(--deep-blue);
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100%;
}

.single-dog-wrapper {
  display: flex;
  justify-content: left;
  width: 100vw;
  height: auto;
  margin: 0 20px;
}

.single-dog-image {
  color: var(--grey-shade);
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  padding: 5px;
  margin: 10px;
}

.single-dog-overview {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.single-dog-stats,
.single-dog-review,
.single-dog-rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vw;
  margin: 10px;
}

.options-wrapper {
  display: flex;
  justify-self: end;
  height: 100vh;
}

.single-dog-options {
  display: flex;
  width: 100%;
  align-self: end;
  justify-content: space-around;
  font-size: 40px;
  margin-bottom: 4rem;
}

.single-dog-stats-title,
.single-dog-review-title,
.single-dog-rating-title {
  font-family: var(--normal-text-title);
  font-size: 30px;
}

.single-dog-starred-content,
.single-dog-message-content,
.single-dog-delete-content {
  height: auto;
  margin-bottom: 0;
}

.single-dog-rating-content {
  display: flex;
  justify-content: center;
  width: 70vw;
}

.single-dog-content-box {
  height: auto;
  text-align: center;
  padding: 20px;
  width: auto;
  background: var(--white);
  border-radius: 15px;
}

.single-dog-starred-bone {
  transform: rotate(-45deg);
  color: var(--gold);
  font-size: 25px;
}

.gold-star {
  color: var(--gold);
}
.dull-star {
  color: var(--grey-shade);
}
