.whistle-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  background-color: var(--grey-shade);
}

.whistle-messages {
  margin-top: 100px;
  height: 300px;
  width: 70vw;
  border-radius: 15px;
  background-color: var(--dark-grey-shade);
}

.whistle-message-box {
  width: 70vw;
  margin: 2vh 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.whistle-message-input-text {
  height: auto;
  border-radius: 15px;
  background-color: var(--dark-grey-shade);
  padding: 5px;
}

.whistle-message-send {
  height: 30px;
}
