.add-friend-wrapper {
  display: flex;
  justify-content: center;
}

.add-friend-button {
  border: none;
  height: 5vh;
}

.popup-box {
  height: 100px;
  width: 300px;
  border: black 1px solid;
}

.popup-delete {
  float: right;
  padding: 1px;
  border-radius: 5px;
}

.hidden {
  display: hidden;
}
