.add-friend-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.popup-box {
  width: 80vw;
  border-radius: 5px;
  padding: 5px;
  border: black 1px solid;
  box-shadow: var(--soft-shadow);
  background-color: var(--sea-blue);
}

.add-form-close-button-wrapper {
  float: right;
  box-shadow: var(--hard-shadow);
}

.input-boxes-parent {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  margin-top: 2rem;
  margin-left: 2rem;
}

.name-input {
  border-radius: 5px;
}

.stats-input {
  border-radius: 5px;
  width: 100%;
}

.hidden {
  display: hidden;
}

.stats-wrapper {
  display: flex;
  flex-direction: column;
}

.stats-input-parent {
  display: flex;
  justify-content: space-between;
}

.stats-add-button,
.stats-delete-button {
  margin: 0 5px;
}

.add-button-form-buttons {
  display: flex;
  justify-content: space-evenly;
}

.star-and-save {
  box-shadow: var(--hard-shadow);
}

.flashcard {
  margin: 5px;
  color: var(--white);
}
