@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");

.friends-header {
  position: fixed;
  z-index: 100;
  width: 100vw;
}

.friends-page {
  background-color: var(--light-blue);
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.clouds-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.cloud-right {
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px;
  position: relative;
}
.cloud-left {
  display: flex;
  padding: 10px 10px;
  position: relative;
}

.dog-image-left {
  justify-self: left;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  left: 20px;
  top: 30px;
  z-index: 1;
  position: absolute;
}

.dog-image-right {
  justify-self: right;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  right: 20px;
  top: 20px;
  z-index: 1;
  position: absolute;
}

.names-left {
  font-family: "Cookie", cursive;
  font-size: 41px;
  color: var(--deep-blue);
  position: absolute;
  left: 100px;
  bottom: 30px;
}

.conditional-div {
  position: relative;
}

.bin-left {
  font-family: "Cookie", cursive;
  font-size: 20px;
  color: var(--sea-blue);
  position: absolute;
  bottom: 30px;
  left: 30px;
  z-index: 1000;
}
.bin-right {
  font-family: "Cookie", cursive;
  font-size: 20px;
  color: var(--sea-blue);
  position: absolute;
  top: 60px;
  right: 30px;
  z-index: 1000;
}

.names-right {
  font-family: "Cookie", cursive;
  font-size: 41px;
  color: var(--deep-blue);
  position: absolute;
  right: 100px;
  bottom: 30px;
}

.search-icon {
  color: var(--deep-blue);
  font-size: 40px;
  position: absolute;
  right: 25px;
  top: 15px;
}

.no-mates-message {
  margin: 100px auto;
  font-family: "Cookie", cursive;
  font-size: 50px;
  text-align: center;
}

.render-div {
  margin-top: 40px;
  height: auto;
  display: flex;
  justify-content: center;
}
