.edit-page {
  position: relative;
}

.edit-title {
  position: absolute;
  left: 136.5px;
  top: 40px;
}
.edit-page {
  position: relative;
}

.edit-title {
  position: absolute;
  left: 136.5px;
  top: 40px;
}
