.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80px;
  background-color: var(--sea-blue);
}

.nav-button {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  border: none;
  box-shadow: 0px 7px 0px 0px rgba(0, 0, 0, 0.32);
}
.nav-icons {
  font-size: 40px;
  text-decoration: none;
  color: var(--deep-blue);
}
