.profile-page {
  background-color: var(--light-yellow);
}

.profile-wrapper {
  position: relative;
}

.profile-picture {
  height: 200px;
  position: absolute;
  left: 5px;
  top: 39.5px;
}

.profile-bubble {
  position: absolute;
  left: 150px;
  top: 108.67px;
  height: 200px;
}

.profile-bio {
  position: absolute;
  top: 280.9px;
  height: 160px;
}

.profile-bio-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10;
  color: var(--deep-blue);
  width: 200px;
  height: 26px;
  position: absolute;
  left: 49.79px;
  top: 313px;
  z-index: 1;
}
