.profile-page {
  background-color: var(--light-yellow);
}

.profile-wrapper {
  position: relative;
}

.profile-picture {
  height: 200px;
  position: absolute;
  left: 5px;
  top: 89.5px;
}

.profile-bubble {
  position: absolute;
  left: 145px;
  top: 108.67px;
}

.profile-bio {
  position: absolute;
  left: -15.6px;
  top: 280.9px;
  height: 160px;
}

.profile-bio-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10;
  color: var(--deep-blue);
  width: 200px;
  height: 26px;
  position: absolute;
  left: 29.79px;
  top: 313px;
  z-index: 1;
}
