.edit-page {
  background-color: var(--light-yellow);
  height: 100vh;
}

.blur-effect {
  filter: blur(3px);
}

.edit-pen {
  color: red;
  z-index: 10;
  font-size: 30px;
  grid-area: 2 / 1 / 3 / 3;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-photo {
  grid-column: left;
  grid-row: first;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: red;
  z-index: 10;
  font-size: 30px;
}
